
<style>
div#he {
	display: block;
	width: 400px;
	margin-left:370px;
}
</style>
<div id='he'><h2 align='center'>EDITING BOOKS</h2><hr /></div><br /><br />

<%= render 'form' %>
<table align='center' cellspacing='10px' border='0px'>

<tr><td><td>
<%= link_to 'Show', @book %> |</td></td><td>
<%= link_to 'Back', admincontroller_adminhome_path %></td></tr></table>
