<h1>Welcome admin: "<%=current_user.detail.firstname %>"</h1>


<%=link_to 'Create Roles', new_book_path %>
<%=link_to 'Manage Books', new_book_path %>
<%=link_to 'Approve Requests', new_book_path %>
